# App URL
NEXT_PUBLIC_SITE_URL=https://www.jayszrs.my.id

# Admin login
ADMIN_PASSWORD=ganti_password_admin_lu

# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://project-ref.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_xxx
SUPABASE_SERVICE_ROLE_KEY=sb_secret_or_service_role_xxx

# Vercel Blob
BLOB_READ_WRITE_TOKEN=vercel_blob_rw_xxx

# Google Search Console
GOOGLE_SITE_VERIFICATION=google_site_verification_code
